<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Справочники</title>
</head>
{% extends 'main/wrapper.html' %}

{% block content %}
    <table border="1">
        <caption>Справочники</caption>
            <tr>
                <th>
                    <a href="{% url 'book_lv' %}" > Книги </a>
                </th>
                <th>
                    <a href="{% url 'author_lv' %}" > Авторы </a>
                </th>
                <th>
                    <a href="{% url 'series_lv' %}" > Серии </a>
                </th>
                <th>
                    <a href="{% url 'genre_lv' %}" > Жанры </a>
                </th>
                <th>
                    <a href="{% url 'publishing_lv' %}" > Издательства </a>
                </th>
            </tr>
    </table>
{% endblock %}
</html>
