<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
</head>
{% extends 'main/wrapper.html' %}

{% block content %}
<form action="" method="get">
        Введите ключевое слово:{{ form.search }}<br>
    Автор жив{{ form.active }}<br>
      <button type="submit">Найти</button>
</form>
    <table border="1">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Авторы
                </th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td>{{ object.pk }}</td>
                <td>
                    <a href="{% url 'author_dv' object.pk %}" target="_blank"> {{ object.name }} </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
</html>
