<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Genre</title>
</head>
{% extends 'main/wrapper.html' %}

{% block content %}
<form action="" method="get">
      <input type="search" placeholder="Введите ключевое слово" aria-label="Search" name="ggg">
      <button type="submit">Поиск</button>
</form>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Жанры</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td>
                    {{ object.pk }}
                </td>
                <td>
                    <a href="{% url 'genre_dv' object.pk %}" target="_blank"> {{ object.genre }} </a>
                </td>
                <td>
                    {{ object.description }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
</html>
