<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
{% extends 'main/wrapper.html' %}

{% block content %}
<ul>Товары:
    {% for object in object_list %}
    <li>
        {{ object.name }} <br>
        {{ object.image }}<br>
        {{ object.price }}<br>
        {{ object.author }}<br>
        {{ object.genre }}<br>
        {{ object.series }}<br>
        {{ object.publishing }}<br>
        {{ object.year }}<br>
        {{ object.pages }}<br>
        {{ object.binding }}<br>
        {{ object.format }}<br>
        {{ object.isbn }}<br>
        {{ object.weight }}<br>
        {{ object.age_limit }}<br>
        {{ object.sum }}<br>
        {{ object.available }}<br>
        {{ object.rating }}<br>
        {{ object.creation_date }}<br>
        {{ object.update_date }}<br>
    </li>
    {% endfor %}
</ul>
{% endblock %}
</html>