<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
{% extends 'main/wrapper.html' %}

{% block content %}
   <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название книги</th>
                <th>Обложка</th>
                <th>Цена</th>
                <th>Автор</th>
                <th>Жанр</th>
                <th>Серия</th>
                <th>Издательство</th>
                <th>Год издания</th>
                <th>Страниц</th>
                <th>Переплет</th>
                <th>Формат</th>
                <th>ISBN</th>
                <th>Вес</th>
                <th>Возрастные ограничения</th>
                <th>Количество книг в наличии</th>
                <th>Доступна для заказа</th>
                <th>Рейтинг</th>
                <th>Дата и время создания</th>
                <th>Дата и время изменения</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td>{{ object.pk }}</td>
                <td>
                    <a href="{% url 'book_dv' object.pk %}" target="_blank"> {{ object.name }} </a>
                </td>
                <td>{{ object.image }}</td>
                <td>{{ object.price }}</td>
                <td>
                    {{ object.author }}
                    {% for author in products.author.all %} {{ author }} {% endfor %}
                </td>
                <td>
                    {% for genre in products.genre.all %} {{ genre }} {% endfor %}
                </td>
                <td>{{ object.series }}</td>
                <td>{{ object.publishing }}</td>
                <td>{{ object.year }}</td>
                <td>{{ object.pages }}</td>
                <td>{{ object.binding }}</td>
                <td>{{ object.format }}</td>
                <td>{{ object.isbn }}</td>
                <td>{{ object.weight }}</td>
                <td>{{ object.age_limit }}</td>
                <td>{{ object.sum }}</td>
                <td>{{ object.available }}</td>
                <td>{{ object.rating }}</td>
                <td>{{ object.creation_date }}</td>
                <td>{{ object.update_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
</html>