<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Книга</title>
</head>
{% extends 'main/wrapper.html' %}

{% block content %}
Книга:<br>
    {{ object.name }} <br>
    {{ object.image }}<br>
    {{ object.price }}<br>
{% for object in object.author.all %}
    {{ object }}<br>
{% endfor %}
{% for object in object.genre.all %}
    {{ object }}<br>
{% endfor %}
    {{ object.series }}<br>
    {{ object.publishing }}<br>
    {{ object.year }}<br>
    {{ object.pages }}<br>
    {{ object.binding }}<br>
    {{ object.format }}<br>
    {{ object.isbn }}<br>
    {{ object.weight }}<br>
    {{ object.age_limit }}<br>
    {{ object.sum }}<br>
    {{ object.available }}<br>
    {{ object.rating }}<br>
    {{ object.creation_date }}<br>
    {{ object.update_date }}<br>
<button><a href="{% url 'book_uv' object.pk %}">Изменить</a></button>
{% endblock %}
</html>
