<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Книги</title>
</head>
{% extends 'main/wrapper.html' %}

{% block content %}
<form action="" method="get">
    Введите ключевое слово:{{ form.search }}<br>
    Доступна для заказа{{ form.active }}
    <button type="submit">Поиск</button>
</form>
   <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название книги</th>
                <th>Обложка</th>
                <th>Цена</th>
                <th>Автор</th>
                <th>Жанр</th>
                <th>Серия</th>
                <th>Издательство</th>
                <th>Год издания</th>
                <th>Страниц</th>
                <th>Переплет</th>
                <th>Формат</th>
                <th>ISBN</th>
                <th>Вес</th>
                <th>Возрастные ограничения</th>
                <th>Количество книг в наличии</th>
                <th>Доступна для заказа</th>
                <th>Рейтинг</th>
                <th>Дата и время создания</th>
                <th>Дата и время изменения</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td>{{ object.pk }}</td>
                <td>
                    <a href="{% url 'book_dv' object.pk %}" > {{ object.name }} </a>
                </td>

                <td><img src = '{{ object.image }}' height="120" width="80"/></td>

                <td>{{ object.price }}</td>
                <td>
                    {% for object in object.author.all %}
                        {{ object }}
                    {% endfor %}
                </td>
                <td>
                    {% for object in object.genre.all %}
                        {{ object }}
                    {% endfor %}
                </td>
                <td>{{ object.series }}</td>
                <td>{{ object.publishing }}</td>
                <td>{{ object.year }}</td>
                <td>{{ object.pages }}</td>
                <td>{{ object.binding }}</td>
                <td>{{ object.format }}</td>
                <td>{{ object.isbn }}</td>
                <td>{{ object.weight }}</td>
                <td>{{ object.age_limit }}</td>
                <td>{{ object.sum }}</td>
                <td>{{ object.active }}</td>
                <td>{{ object.rating }}</td>
                <td>{{ object.creation_date }}</td>
                <td>{{ object.update_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<button><a href="{% url 'book_cv' %}" >Добавить</a></button>
{% endblock %}
</html>
