<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Издательства</title>
</head>
{% extends 'main/wrapper.html' %}

{% block content %}
<form action="" method="get">
      {{ form }}
      <button type="submit">Поиск</button>
</form>
   <table border="1">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Издательство
                </th>
                <th>
                    Город
                </th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td>
                    {{ object.pk }}
                </td>
                <td>
                    <a href="{% url 'publishing_dv' object.pk %}" > {{ object.name }} </a>
                </td>
                <td>
                    {{ object.description }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<button><a href="{% url 'publishing_cv' %}" >Добавить</a></button>
{% endblock %}
</html>
