<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Series</title>
</head>
{% extends 'main/wrapper.html' %}

{% block content %}
<form action="" method="get">
      <input type="search" placeholder="Введите ключевое слово" aria-label="Search" name="sss">
      <button type="submit">Поиск</button>
</form>
   <table border="1">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Серия
                </th>
                <th>
                    Описание
                </th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td>
                    {{ object.pk }}
                </td>
                <td>
                    <a href="{% url 'series_dv' object.pk %}" target="_blank"> {{ object }} </a>
                </td>
                <td>
                    {{ object.description }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
</html>
